ul>li{
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}
h1{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.table{
    width: 100%;
    margin-inline: 5px;
    align-content: center;
    text-align: center;
}
.btn{
    box-shadow: 2px 2px 2px 2px #525252;
    background-color: #448ec9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.btn-danger:hover{
    background-color: #69100b;
}
.btn-danger {
    background-color: #f44336;
}
.btn-primary:hover{
    background-color: #174b18;
}
.btn-primary{
    background-color: green;
}


th{
    border: black 1px solid;
}

.centered {

display: flex;
justify-content: center;

}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
}
.form-control{
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    box-sizing: border-box;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
}
